---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import BlogPost from "@components/BlogPost.astro";

import tikenImg from "@assets/tiken.png";

const allPosts = await getCollection("blog");
const title = "Blog";
---

<Layout title={title + " - UniNote"}>
  <h1>{title}</h1>
  <p>
    <Image
      src={tikenImg}
      alt="tiken"
      width={32}
      height={32}
      style={"vertical-align: middle"}
      loading="eager"
    />の書き散らしどころ
  </p>
  <menu>
    {
      allPosts
        .sort((a, b) => {
          return a.data.publishDate < b.data.publishDate ? 1 : -1;
        })
        .map((post) => <BlogPost post={post} />)
    }
  </menu>
</Layout>

<style>
  menu {
    display: contents;
  }
</style>
