---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import BlogPost from "@components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={"Tag: " + tag + " - UniNote"}>
  <h1>Tag: {tag}</h1>
  <p>タグ {tag} が付いた記事</p>
  <menu>
    {
      posts
        .sort((a, b) => {
          return a.data.pubDate < b.data.pubDate ? 1 : -1;
        })
        .map((post) => <BlogPost post={post} />)
    }
  </menu>
</Layout>

<style>
  menu {
    display: contents;
  }
</style>
