---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Search from "@components/Search.astro";

import workingMarieImg from "@assets/workingMarie.png";
---

<Layout title="UniNote">
  <h1 id="top-logo">
    <img id="logo-img" src="favicon.svg" alt="UniNote Logo" />UniNote
  </h1>
  <Search />
  <div id="marie-img">
    <Image src={workingMarieImg} alt="Working UniCat" loading="eager" />
  </div>
</Layout>

<style>
  #top-logo {
    font-size: 4rem;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    --accent-gradient: linear-gradient(
      90deg,
      rgb(180, 34, 36) 10%,
      rgba(255, 255, 255, 1) 20%
    );
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;

    #logo-img {
      height: 8rem;
    }
  }

  #marie-img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    img {
      width: 80vw;
      height: 80vw;
    }
  }

  @media screen and (min-width: 636px) {
    #top-logo {
      flex-direction: unset;
    }

    #marie-img {
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
</style>
