---

---

<footer class="footer">
  <div>© 2024 unishigured</div>
</footer>

<style>
  .footer {
    position: sticky;
    top: 100vh;

    display: flex;
    justify-content: center;
    padding: 2rem;

    color: #999;
    background-color: #171717;
  }
</style>
