---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    padding-top: 1rem;

    display: flex;
    justify-content: center;
  }
</style>
