---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: center;

    border-bottom: 1px solid hsl(5deg 85% 94% / 10%);
  }
</style>
