---
import "@fontsource-variable/noto-sans-jp";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family: "Noto Sans JP Variable", system-ui, sans-serif;
    background: #111111;
  }

  a {
    color: rgb(212 33 17);
  }

  body {
    margin: 0;
    min-height: 100vh;

    animation: fadein 0.5s forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  main {
    width: 80vw;
    max-width: calc(100% - 2rem);

    margin: auto;
    padding: 2rem;
    padding-top: 0;

    font-size: 16px;
    line-height: 1.6;
    color: whitesmoke;
  }

  h2 {
    margin-top: 2rem;
    border-bottom: 1px solid hsl(5deg 85% 94% / 10%);
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  @media screen and (min-width: 636px) {
    main {
      width: 800px;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d4211175;
    border-radius: 100px;
  }
</style>
